
{% block content %}
			<div class="Personnal_Main_Container">
				<h3>
					TABLEAU DE BORD
				</h3>
				<div class="card-deck-wrapper">
					<div class="card">
						<div class="card-body">
							<h5 class="card-title">
								HEURES EFFECTUÉES
							</h5>
							<p class="card-text">
								Ici vous pouvez consulter vos heures déjà effectués au sein de
																																                votre collectivité.
							</p>
							<hr>
							<div class="Time_Left_Diag">
								<div class="progress-circle" data-value={{ app.user.heures }} id="jauge">
									<div class="progress-masque">
										<div class="progress-barre"></div>
										<div class="progress-sup50"></div>
									</div>
								</div>
							</div>
							<p class="card-text">
								<hr>
								<div class="mb-3">
									<button class="btn-primary btn" type="submit" id="connexion_submit">
										CONSULTER
									</button>
								</div>
								<small class="text-muted">Dernière mise à jour le  03/02/2023</small>
							</p>
						</div>
					</div>
					<div class="card">
						<div class="card-body">
							<h5 class="card-title">
								CONGÉS UTILISÉS
							</h5>
							<p class="card-text">
								Ici vous pouvez consulter vos congés déjà utilisés et effectuer
																																                une demande auprès du service RH.
							</p>
							<hr>
							<div class="Time_Left_Diag">
								<div class="progress-circle_2" data-value={{app.user.CP}} id="jauge">
									<div class="progress-masque_2">
										<div class="progress-barre_2"></div>
										<div class="progress-sup50_2"></div>
									</div>
								</div>
							</div>

							<p class="card-text">
								<hr>
								<div class="mb-3">
									<button class="btn-primary btn" type="submit" id="connexion_submit">
										DEMANDER
									</button>
								</div>
								<small class="text-muted">Dernière mise à jour le 03/02/2023</small>
							</p>
						</div>
					</div>
					<div class="card">
						<div class="card-body">
							<h5 class="card-title">
								RÉCUPÉRATIONS DISPONIBLES
							</h5>
							<p class="card-text">
								Ici vous pouvez consulter vos reccup' déjà utilisés et effectuer
																																                une demande auprès du service RH.
							</p>
							<hr>
							<div class="Time_Left_Diag">
								<div class="progress-circle_3" data-value={{app.user.ARTT}} id="jauge">
									<div class="progress-masque_3">
										<div class="progress-barre_3"></div>
										<div class="progress-sup50_3"></div>
									</div>
								</div>
							</div>
							<hr>
							<p class="card-text">
								<div class="mb-3">
									<button class="btn-primary btn" type="submit" id="connexion_submit">
										DEMANDER
									</button>
								</div>
							</p>
							<p class="card-text">
								<small class="text-muted">Dernière mise à jour le  03/02/2023</small>
							</p>
						</div>
					</div>
				</div>
			</div>
{% endblock %}
