    {% block javascripts %}

    {% endblock %}

<div class="Personnal_Astreinte_Form">
<h3>NOUVELLE ASTREINTE</h3>
	{{ form_start(form) }}
	{{ form_widget(form) }}
	<button class="btn-primary btn">{{ button_label|default('Soumettre') }}</button>
	{{ form_end(form) }}
</div>
