{% extends 'base.html.twig' %}

{% block title %}
	Bienvenue
	{{ app.user.firstname }}
	!
{% endblock %}

{% block content %}
	<div class="Main_Container">
		<section class="Perso_Section_Nav">
		{% include 'account/accountNav.html.twig' %}
		</section>
		<section class="Perso_Section_Astreintes">
			<div class="Personnal_Astreinte_Historique">
				<h3>HISTORIQUES DE VOS ASTREINTES</h3>
				<div class="card-deck-wrapper">
					<div class="card">
						<div class="card-body">
							<h5 class="card-title">
								ASTREINTES EFFECTUÉES
							</h5>
							<p class="card-text">
								Ici vous pouvez consulter vos heures déjà effectués au sein de votre collectivité.
							</p>
							<hr>
							<div class="Time_Left_Diag">
								<div class="progress-circle" data-value="900" id="jauge">
									<div class="progress-masque">
										<div class="progress-barre"></div>
										<div class="progress-sup50"></div>
									</div>
								</div>
							</div>
							<p class="card-text">
								<hr>
								<div class="mb-3">
									<button class="btn-primary btn" type="submit" id="connexion_submit">
										DEMANDER
									</button>
								</div>
								<small class="text-muted">Dernière mise à jour le 01/10/2022</small>
							</p>
						</div>
					</div>
				</div>
			</div>
			<div class="Personnal_Astreinte_Form">
				<h3>
					NOUVELLES ASTREINTES
				</h3>

				</div>
			</div>
		</section>
	</div>
{% endblock %}
