.progress-circle_2{
  position: relative;             /* pour servir de référent */
  box-sizing: border-box;         /* prise en compte bordure dans la dimension */
  font-size: 12em;                 /* pour définir les dimensions */
  width: 1em;                     /* fixe la largeur */
  height: 1em;                    /* fixe la hauteur */
  border-radius: 50%;             /* rendu aspect circulaire */
  border: .15em solid #CDE;       /* couleur de fond de l'anneau */
  background-color: #FFF;  
}

.progress-masque_2 {
  position: absolute;
  width: 1em;                     /* 100% de la largeur */
  height: 1em;                    /* 100% de la hauteur */
  left: -.15em;                   /* décalage de la largeur bordure de la gauge */
  top: -.15em;                 /* décalage de la largeur bordure de la gauge */
  clip: rect(0, 1em, 1em, .5em);  /* par défaut seule la partie droite est visible */
}

.progress-circle_2[data-value^='14']:not([data-value='4']):not([data-value^='4.']) .progress-masque_2,
.progress-circle_2[data-value^='15']:not([data-value='5']):not([data-value^='5.']) .progress-masque_2,
.progress-circle_2[data-value^='16']:not([data-value='6']):not([data-value^='6.']) .progress-masque_2,
.progress-circle_2[data-value^='17']:not([data-value='7']):not([data-value^='7.']) .progress-masque_2,
.progress-circle_2[data-value^='18']:not([data-value='8']):not([data-value^='8.']) .progress-masque_2,
.progress-circle_2[data-value^='19']:not([data-value='9']):not([data-value^='9.']) .progress-masque_2,
.progress-circle_2[data-value^='20']:not([data-value='9']):not([data-value^='9.']) .progress-masque_2,
.progress-circle_2[data-value^='21']:not([data-value='9']):not([data-value^='9.']) .progress-masque_2,
.progress-circle_2[data-value^='22']:not([data-value='9']):not([data-value^='9.']) .progress-masque_2,
.progress-circle_2[data-value^='23']:not([data-value='9']):not([data-value^='9.']) .progress-masque_2,
.progress-circle_2[data-value^='24']:not([data-value='9']):not([data-value^='9.']) .progress-masque_2,
.progress-circle_2[data-value^='25']:not([data-value='9']):not([data-value^='9.']) .progress-masque_2,
.progress-circle_2[data-value^='26']:not([data-value='9']):not([data-value^='9.']) .progress-masque_2,
.progress-circle_2[data-value^='27'] .progress-masque_2 

{
  clip: rect(auto, auto, auto, auto);
}
.progress-barre_2{
  position: absolute;
  box-sizing: border-box;         /* prise en compte bordure dans la dimension */
  border-width: .15em;            /* largeur bordure de la gauge */
  border-style: solid;
  border-color: rgb(94, 26, 28);
  border-radius: 50%;             /* rendu aspect circulaire */
  width: 1em;                     /* largeur à 100% */
  height: 1em;                    /* hauteur à 100% */
  clip: rect(0, .5em, 1em, 0);
}

.progress-sup50_2 {
  position: absolute;
  box-sizing: border-box;         /* prise en compte bordure dans la dimension */
  border-width: .15em;            /* largeur bordure de la gauge */
  border-style: solid;
  border-color: rgb(94, 26, 28);
  border-radius: 50%;             /* rendu aspect circulaire */
  width: 1em;                     /* largeur à 100% */
  height: 1em;                    /* hauteur à 100% */
  clip: rect(0, .5em, 1em, 0);
}

.progress-sup50_2 {
    display: none;
    clip: rect(0, 1em, 1em, .5em);
  }


  .progress-circle_2[data-value^='14']:not([data-value='5']):not([data-value^='5.']) .progress-sup50_2,
  .progress-circle_2[data-value^='15']:not([data-value='6']):not([data-value^='6.']) .progress-sup50_2,
  .progress-circle_2[data-value^='16']:not([data-value='7']):not([data-value^='7.']) .progress-sup50_2,
  .progress-circle_2[data-value^='17']:not([data-value='8']):not([data-value^='8.']) .progress-sup50_2,
  .progress-circle_2[data-value^='18']:not([data-value='9']):not([data-value^='9.']) .progress-sup50_2,
  .progress-circle_2[data-value^='19']:not([data-value='9']):not([data-value^='9.']) .progress-sup50_2,
  .progress-circle_2[data-value^='20']:not([data-value='9']):not([data-value^='9.']) .progress-sup50_2,
  .progress-circle_2[data-value^='21']:not([data-value='9']):not([data-value^='9.']) .progress-sup50_2,
  .progress-circle_2[data-value^='22']:not([data-value='9']):not([data-value^='9.']) .progress-sup50_2,
  .progress-circle_2[data-value^='23']:not([data-value='9']):not([data-value^='9.']) .progress-sup50_2,
  .progress-circle_2[data-value^='24']:not([data-value='9']):not([data-value^='9.']) .progress-sup50_2,
  .progress-circle_2[data-value^='25']:not([data-value='9']):not([data-value^='9.']) .progress-sup50_2,
  .progress-circle_2[data-value^='26']:not([data-value='9']):not([data-value^='9.']) .progress-sup50_2,
.progress-circle_2[data-value^='27'] .progress-sup50_2 {
  display:block;
}

.progress-circle_2:after {
    content: attr(data-value) /*"/ 27"*/;  /* récup. valeur de progression */
    font-size: 0.20em;
    font-weight: 600;              /* taille de la font en % du parent */
    height: 100%;                   /* centrage dans le parent */
    display: flex;
    align-items: center;
    justify-content: center;
  
    /*-- pour effet shadow intérieur --*/
    border-radius: 50%;
    box-shadow: 0 0 .5em rgba(94, 26, 28, 0.198) inset;
  }


.progress-circle_2[data-value="0"]  .progress-barre_2 {transform: rotate(0deg)}
.progress-circle_2[data-value="1"]  .progress-barre_2 {transform: rotate(13.33333333333333deg)}
.progress-circle_2[data-value="2"]  .progress-barre_2 {transform: rotate(26.66666666666666deg)}
.progress-circle_2[data-value="3"]  .progress-barre_2 {transform: rotate(39.99999999999999deg)}
.progress-circle_2[data-value="4"]  .progress-barre_2 {transform: rotate(53.33333333333332deg)}
.progress-circle_2[data-value="5"]  .progress-barre_2 {transform: rotate(66.66666666666666deg)}
.progress-circle_2[data-value="6"]  .progress-barre_2 {transform: rotate(79.99999999999999deg)}
.progress-circle_2[data-value="7"]  .progress-barre_2 {transform: rotate(93.33333333333331deg)}
.progress-circle_2[data-value="8"]  .progress-barre_2 {transform: rotate(106.66666666666664deg)}
.progress-circle_2[data-value="9"]  .progress-barre_2 {transform: rotate(119.99999999999997deg)}
.progress-circle_2[data-value="10"] .progress-barre_2 {transform: rotate(133.33333333333331deg)}
.progress-circle_2[data-value="11"] .progress-barre_2 {transform: rotate(146.66666666666666deg)}
.progress-circle_2[data-value="12"] .progress-barre_2 {transform: rotate(160deg)}
.progress-circle_2[data-value="13"] .progress-barre_2 {transform: rotate(173.33333333333334deg)}
.progress-circle_2[data-value="14"] .progress-barre_2 {transform: rotate(186.66666666666669deg)}
.progress-circle_2[data-value="15"] .progress-barre_2 {transform: rotate(200.00000000000003deg)}
.progress-circle_2[data-value="16"] .progress-barre_2 {transform: rotate(213.33333333333337deg)}
.progress-circle_2[data-value="17"] .progress-barre_2 {transform: rotate(226.6666666666667deg)}
.progress-circle_2[data-value="18"] .progress-barre_2 {transform: rotate(240.00000000000006deg)}
.progress-circle_2[data-value="19"] .progress-barre_2 {transform: rotate(253.3333333333334deg)}
.progress-circle_2[data-value="20"] .progress-barre_2 {transform: rotate(266.66666666666674deg)}
.progress-circle_2[data-value="21"] .progress-barre_2 {transform: rotate(280.00000000000006deg)}
.progress-circle_2[data-value="22"] .progress-barre_2 {transform: rotate(293.33333333333337deg)}
.progress-circle_2[data-value="23"] .progress-barre_2 {transform: rotate(306.6666666666667deg)}
.progress-circle_2[data-value="24"] .progress-barre_2 {transform: rotate(320deg)}
.progress-circle_2[data-value="25"] .progress-barre_2 {transform: rotate(333.3333333333333deg)}
.progress-circle_2[data-value="26"] .progress-barre_2 {transform: rotate(346.66666666666663deg)}
.progress-circle_2[data-value="27"] .progress-barre_2 {transform: rotate(359.99999999999994deg)}