{% extends 'base.html.twig' %}

{% block content %}
	<h2>Bienvenue
	</h2>

<div class="Submit_Container">
	<h3>NOUVEAU MEMBRE</h3>
	{{form (form)}}
<p class="version">Cthulu - Version Beta 0.1</p>
</div>
	</body>
{% endblock %}
