{% extends 'base.html.twig' %}

{% block content %}

	<div class="Main_Container">
		<section class="Perso_Section_Nav">
			{% include 'account/accountNav.html.twig' %}
		</section>
		<section class="Perso_Section_Main">
			<div class="Personnal_Main_Container">
				<div class="Personnal_Password_Form">
					<h3>
						MODIFIER MON MOT DE PASSE
					</h3>
					{% if notification_Gp %}
						<div class="alert-info">{{ notification_Gp }}</div>
					{% elseif notification_Wp %}
						<div class="alert-danger">{{ notification_Wp }}</div>
					{% endif %}
					{{ form(form)}}
					</hr>
				</div>
			</div>
		</div>
	</section>
</div>{% endblock %}
