{% extends 'base.html.twig' %}

{% block title %}Astreintes Andrew {% endblock %}

{% block content %}

	<div class="Main_Container">
		<section class="Perso_Section_Nav">
		{% include 'account/accountNav.html.twig' %}
		</section>
		<section class="Perso_Section_Main">
		{% include 'account/astreintes.html.twig' %}
		</section>
	</div>
{% endblock %}
