{% extends 'base.html.twig' %}

{% block title %}New AstreintesAndrew{% endblock %}

{% block body %}
    <h1>Create new AstreintesAndrew</h1>

    {{ include('astreintes_andrew_crud/_form.html.twig') }}

    <a href="{{ path('app_astreintes_andrew_crud_index') }}">back to list</a>
{% endblock %}
